@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../content/assets/fonts/NotoSansKR-Thin.woff2') format('woff2'),
       url('../../content/assets/fonts/NotoSansKR-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../content/assets/fonts/NotoSansKR-Regular.woff2') format('woff2'),
       url('../../content/assets/fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../content/assets/fonts/NotoSansKR-Bold.woff2') format('woff2'),
       url('../../content/assets/fonts/NotoSansKR-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic';
  src: url('../../content/assets/fonts/NanumGothic.woff2') format('woff2'),
       url('../../content/assets/fonts/NanumGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../content/assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
       url('../../content/assets/fonts/RobotoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html.scrollSmooth {
  scroll-behavior: smooth;
}

::-moz-selection {color:#fff;background:#ff6db6}
::selection {color:#fff;background:#ff6db6}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Noto Sans KR', san-serif;
  font-weight: normal;
}

body {
  margin: 0;
}

code {
  font-family: 'Roboto Mono';
  font-size: 0.85em;
}

h2, h3, h4, h5, h6 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Noto Sans KR', san-serif;
  font-weight: bold;
  color:#333;
  line-height: 1.6;
}

h2 {
  font-size:1.85em;
  font-weight:normal;
  color:#111;
  line-height:1.8;
  letter-spacing:-0.4px;
  word-spacing:5px;
}

h3 {font-size:1.6em;}
h4 {font-size:1.3em;margin-top:60px;margin-bottom:15px;}
h5 {font-size:1.1em;margin-top:45px;margin-bottom:15px;}
h6 {font-size:1em;margin-top:30px;margin-bottom:15px;}

.clear:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0
}

.container {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  box-sizing: border-box;
}

.page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mockup-iphonexs {
  position:relative;width:360px;height:723px;
}
.mockup-iphonexs .mockup-screen {
    position:absolute;top:21px;right:4px;bottom:21px;left:22px;padding-right:4px;overflow:auto;
  }
.mockup-iphonexs .mockup-screen img {display:block;width:100%;}
.mockup-iphonexs .mockup-body {
  position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background-image:url('../../content/assets/mockup-iphonexs.png');background-size:100%;pointer-events:none;
}
.mockup-iphonexs .mockup-body.white {background-image:url('../../content/assets/mockup-iphonexs-white.png');}
.mockup-iphonexs .mockup-body.grey {background-image:url('../../content/assets/mockup-iphonexs-grey.png');}

@media (max-width: 767px) {
 .container {width:100%;padding: 50px;}
}

@media (max-width: 414px) {
  .container {padding:35px;}

  .page {padding-bottom:50px;}

  .mockup-iphonexs {position:relative;width:300px;height:602px;}
  .mockup-iphonexs .mockup-screen {top:17px;right:13px;bottom:17px;left:18px;padding-right:5px;}
}
